:root {
  --rs-primary-c900: #5e3ac3;
  --rs-primary-c800: #7848ff;
  --rs-primary-c700: #875eff;
  --rs-primary-c600: #9671ff; /* Main brand color */
  --rs-primary-c500: #b196ff; /* Links */
  --rs-primary-c400: #c3afff;
  --rs-primary-c300: #d5c7ff;
  --rs-primary-c200: #e7dfff;
  --rs-primary-c100: #f2eeff;
  --rs-secondary-c1100: #0d0d0d;
  --rs-secondary-c1000: #151515; /* Background */
  --rs-secondary-c900: #1d1d1d; /* Background */
  --rs-secondary-c800: #222222; /* Panel background */
  --rs-secondary-c700: #2b2b2b; /* Menu background */
  --rs-secondary-c600: #383838; /* Hover */
  --rs-secondary-c500: #444444; /* Disable */
  --rs-secondary-c400: #555555; /* Disable */
  --rs-secondary-c300: #888888; /* Paragraph */
  --rs-secondary-c200: #bbbbbb; /* Paragraph */
  --rs-secondary-c150: #dbdbdb; /* Transcript */
  --rs-secondary-c100: #fafafa; /* Text */
  --rs-link-link: #b196ff;
  --rs-status-error-c800: #c92f2f;
  --rs-status-error-c700: #e04040;
  --rs-status-error-c600: #f25757;
  --rs-status-error-c500: #f27070;
  --rs-status-error-c400: #ff9999;
  --rs-status-warning-c800: #e3b21b;
  --rs-status-warning-c700: #f2c94c;
  --rs-status-warning-c600: #ffe184;
  --rs-status-warning-c500: #ffeaaf;
  --rs-status-success-c800: #1b9850;
  --rs-status-success-c700: #27ae60;
  --rs-status-success-c600: #6fcf97;
  --rs-status-success-c500: #a0e2bc;
  --rs-upgrade-c800: #b6e456;
  --rs-upgrade-c700: #c9f273;
  --rs-upgrade-c600: #d6fa8b;
  --rs-upgrade-c500: #e7ffb4;
  --rs-common-purple: #b43dff;
  --rs-common-lightpurple: #b377ff;
  --rs-common-pink: #e961ff;
  --rs-common-darkblue: #5353fc;
  --rs-common-lightblue: #50c9ff;
  --rs-common-green: #67ffb1;
  --rs-common-neon: #c2ff44;
  --rs-common-orange: #ff8a00;
  --rs-common-yellow: #ffec45;
  --rs-common-white: #ffffff;
  --rs-common-black: #0a0a0a;

  --rs-transparent-modal-overlay: rgba(0, 0, 0, 0.50);
  --rs-transparent-p10: rgba(120, 72, 255, 0.10);
  --rs-transparent-p20: rgba(120, 72, 255, 0.20);
  --rs-transparent-p30: rgba(120, 72, 255, 0.30);
  --rs-transparent-p40: rgba(120, 72, 255, 0.40);
  --rs-transparent-p50: rgba(120, 72, 255, 0.50);
  --rs-transparent-c10: rgba(19, 19, 19, 0.10);
  --rs-transparent-c20: rgba(19, 19, 19, 0.20);
  --rs-transparent-c30: rgba(19, 19, 19, 0.30);
  --rs-transparent-c40: rgba(19, 19, 19, 0.40);
  --rs-transparent-c50: rgba(19, 19, 19, 0.50);
  --rs-transparent-c60: rgba(19, 19, 19, 0.60);
  --rs-transparent-c75: rgba(19, 19, 19, 0.75);
  --rs-transparent-y10: rgba(255, 225, 132, 0.10);
  --rs-transparent-y20: rgba(255, 225, 132, 0.20);
  --rs-transparent-r5: rgba(255, 153, 153, 0.05);
  --rs-transparent-r10: rgba(255, 153, 153, 0.10);
  --rs-transparent-r20: rgba(242, 112, 112, 0.20);
  --rs-transparent-w5: rgba(255, 255, 255, 0.05);
  --rs-transparent-w10: rgba(255, 255, 255, 0.10);
  --rs-transparent-w15: rgba(255, 255, 255, 0.15);
  --rs-transparent-w20: rgba(255, 255, 255, 0.20);
  --rs-transparent-w25: rgba(255, 255, 255, 0.25);
  --rs-transparent-w30: rgba(255, 255, 255, 0.30);
  --rs-transparent-w50: rgba(255, 255, 255, 0.50);
  --rs-transparent-w70: rgba(255, 255, 255, 0.70);
  --rs-transparent-g20: rgba(160, 226, 188, 0.20);
  --rs-transparent-u5: rgba(201, 242, 115, 0.05);
  --rs-transparent-u10: rgba(201, 242, 115, 0.10);
  --rs-transparent-u20: rgba(201, 242, 115, 0.20);
  --rs-transparent-u50: rgba(201, 242, 115, 0.50);

  --rs-loading-skeleton: linear-gradient(180deg, #3c3c3c 0%, #2d2d2d 100%);
}
